.contactInfo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.messageLabel{
    display:flex
}

#message{
    margin-left: 70px;
    margin-top: -15px;
}