.contactInfo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name-input{
    width: 200px;
}

.email-input{
    width: 200px;
}

.message-label{
    display:flex
}

#message{
    margin: -20px 0 0 0;
    width: 200px;
}

.error{
    color: red;
}