.project_container{
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
}

.project_item{
    display: flex;
    flex-flow: row;
}

.project_item_info{
    padding: 0 40px 0 10px;
}

.project_item_img{
    padding-left: 20px;
    width: 710px;
}
